<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Название зоны</th>
            <th>Измеряемая величина</th>
            <th>Показание</th>
            <th>
                {% if dataForTable.getResponse == '' %}
                    <img class="rounded" src="{{ asset('images/wi-fi_off.jpg') }} " title="Нет связи с линией" />
                {% else %}
                    <img class="rounded" src="{{ asset('images/wi-fi_on.jpg') }} " title="Есть связь с линией" />
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
    <th rowspan="7">Компоненты</th>
        <tr>
            <td>К1</td>
            <td>{{ dataForTable.getK1/10 }} кг</td>
            <td rowspan="6"><a class="btn btn-primary" href="{{  path("charts",{'nameLine': 'Skid9', 'id': '3'}) }}"
                               role="button">График</a></td>
        </tr>
        <tr>
            <td>К2</td>
            <td>{{ dataForTable.getK2/10 }} кг</td>
        </tr>
        <tr>
            <td>К3</td>
            <td>{{ dataForTable.getK3/10 }} кг</td>
        <tr>
            <td>К4</td>
            <td>{{ dataForTable.getK4/10 }} кг</td>
        </tr>
        <tr>
            <td>К5</td>
            <td>{{ dataForTable.getK5/10 }} кг</td>
        </tr>
        <tr>
            <td>Общий вес</td>
            <td>{{ dataForTable.getK1/10 + dataForTable.getK2/10 + dataForTable.getK3/10 + dataForTable.getK4/10 + dataForTable.getK5/10 }} кг</td>
        </tr>
    <th rowspan="4">Сироп</th>
        <tr>
            <td>Текущая температура</td>
            <td>{{ dataForTable.getTVar/10 }} °C</td>
            <td rowspan="4"><a class="btn btn-primary" href="{{  path("charts",{'nameLine': 'Skid9', 'id': '4'}) }}"
                               role="button">График</a></td>
        </tr>
        <tr>
            <td>Текущая масса</td>
            <td>{{ dataForTable.getVesVar/10 }} кг</td>
        </tr>
        <tr>
            <td>Мешалка варки</td>
            <td>{{ dataForTable.getSpeed/10 }} %</td>
        </tr>
    <th rowspan="4">Буфер</th>
    <tr>
        <td>B1</td>
        <td>{{ dataForTable.getB1/10 }} кг</td>
        <td rowspan="4"><a class="btn btn-primary" href="{{  path("charts",{'nameLine': 'Skid9', 'id': '5'}) }}"
                           role="button">График</a></td>
    </tr>
    <tr>
        <td>B2</td>
        <td>{{ dataForTable.getB2/10 }} кг</td>
    </tr>
    <tr>
        <td>B3</td>
        <td>{{ dataForTable.getB3/10 }} кг</td>
    </tr>
    </tbody>
</table>