<h2 class="text-center name-table"> K I D 10</h2>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Название зоны</th>
            <th>Измеряемая величина</th>
            <th>Показание</th>
            <th>
                {% if dataForTable.getResponse == '' %}
                    <img class="rounded" src="{{ asset('images/wi-fi_off.jpg') }} " title="Нет связи с линией" />
                {% else %}
                    <img class="rounded" src="{{ asset('images/wi-fi_on.jpg') }} " title="Есть связь" />
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
    <th rowspan="5">Варка</th>
        <tr>
            <td class="green-row">Температура варки</td>
            <td class="green-row">{{ dataForTable.getTVar/10 }} °C</td>
            <td rowspan="5"><a class="btn btn-primary" href="{{  path("charts",{'nameLine': 'Skid10', 'id': '1'}) }}"
                               role="button">График</a></td>
        </tr>
        <tr class="red-row">
            <td>Задание температуры варки</td>
            <td>{{ dataForTable.getZad/10 }} °C</td>
        </tr>
        <tr class="green-row">
            <td>Скорость мешалки</td>
            <td>{{ dataForTable.getSpeed/10 }} %</td>
        <tr class="red-row">
            <td>Вакуум</td>
            <td>{{ dataForTable.getVakuum }} бар</td>
        </tr>
    <th rowspan="4">Сироп</th>
        <tr>
            <td class="green-row">Текущая температура</td>
            <td class="green-row">{{ dataForTable.getTSirop/10 }} °C</td>
            <td rowspan="4"><a class="btn btn-primary" href="{{  path("charts",{'nameLine': 'Skid10', 'id': '2'}) }}"
                               role="button">График</a></td>
        </tr>
        <tr class="red-row">
            <td>Задание температуры</td>
            <td>{{ dataForTable.getZadTSirop/10 }} °C</td>
        </tr>
        <tr class="green-row">
            <td>Текущая масса</td>
            <td>{{ dataForTable.getPSirop/10 }} ru</td>
        </tr>
    </tbody>
</table>