{% extends "base.html.twig" %}

{% block chart %}
    <br>
    {% set vars = {'nameLine': nameLine, 'id':id} %}
    {% include "charts/inputDate.html.twig" with vars%}

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script type="text/javascript">

        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: "{{  parametersChart.getAlias }}"
            },
            subtitle: {
                text: "{{  parametersChart.getNameZone }}"
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Время'
                }
            },
            yAxis: {
                title: {
                    text: 'Еденицы изм.'
                },
                min: -5
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                formatter: function() {
                    return '' +
                        Highcharts.dateFormat('%e %B %H:%M', this.x)+ '  |  ' + Highcharts.numberFormat(this.y, 1);
                }
                //headerFormat: '<b>{series.name}</b><br>',
               // pointFormat: '{point.x:%e. %b}: {point.y:.1f} m'
            },

            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: [0, 0, 0, 200],
                        stops: [
                            [0, '#4572A7'],
                            [1, 'rgba(2,40,0,0)']
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false,
                        states: {
                            hover: {
                                enabled: true,
                                radius: 1
                            }
                        }
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 2
                        }
                    }
                }

            },

            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            series: [{
                type: 'area',
                pointInterval: 5 * 1000,
                pointStart: "{{ chart['pointStart'] }}" * 1000 + 3600000 * 3 ,
                color:'red',
                name: "{{ parametersChart.getNameValue1 }}",
                data: {{ chart['chart1'] }}
            }, {
                type: 'area',
                pointInterval: 5 * 1000,
                pointStart: "{{ chart['pointStart'] }}" * 1000 + 3600000 * 3 ,
                color:'green',
                name: "{{ parametersChart.getNameValue2 }}",
                data: {{ chart['chart2'] }}
            }, {
                type: 'area',
                pointInterval: 5 * 1000,
                pointStart: "{{ chart['pointStart'] }}" * 1000 + 3600000 * 3 ,
                color:'blue',
                name: "{{ parametersChart.getNameValue3 }}",
                data: {{ chart['chart3'] }}
            }, {
                type: 'area',
                pointInterval: 5 * 1000,
                pointStart: "{{ chart['pointStart'] }}" * 1000 + 3600000 * 3 ,
                color:'brown',
                name: "{{ parametersChart.getNameValue4 }}",
                data: {{ chart['chart4'] }}
            }, {
                type: 'area',
                pointInterval: 5 * 1000,
                pointStart: "{{ chart['pointStart'] }}" * 1000 + 3600000 * 3 ,
                color:'orange',
                name: "{{ parametersChart.getNameValue5 }}",
                data: {{ chart['chart5'] }}
            }]
        });
    </script>
{% endblock %}

{% block content %}
{% endblock %}